.JsonSample {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .json-sample-title {
    display: inline-block;
    margin-right: 10px;
  }
  .json-sample-action {
    display: inline-block;
    margin-right: 10px;
    color: gray;
  }
}