.App {

  .navbar {
    height: 60px;
    background-color: black;
  }

  .navbar-brand-name {
    height: 36px;
  }
}

.spinner.spinner-xl {
  height: 60px;
  width: 60px;
  border-width: 8px;
}

.clickable-empty-link {
  cursor: pointer;
}

//Wide Wizards
//had to modify at the top level because we don't control the classnames of the modal just for wizards.
.modal-lg.wizard-pf.modal-dialog {
  @media (min-width: 1200px) {
    width: 90%;
    max-width: 1200px;
  }

  .service-wizard {
    .modal-title {
      font-weight: 600;
      line-height: 24px;
    }

    .service-wizard-title-icon {
      font-size: 24px;
      margin-right: 10px;
      color: #1686CA;
    }
  }
}