.Home {
  .ai-library-desc-panel {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    border-bottom: solid 1px #e1e1e1;
    background-color: #F5F5F5;
    margin-bottom: 40px;

    h1 {
      margin-bottom: 2.5rem;
    }

    p {
      max-width: 600px;
      margin-bottom: 2rem;
    }
  }
}

